<template>
    <div>
        <button @click="open">打开弹窗</button>
        <uni-popup ref="popup" type="bottom" :mask-click="false">
            <div style="background: #fff; height: 60vh; padding: 40rpx">
                <text>Popup</text>
                <button @click="close">关闭</button>
                <uni-datetime-picker
                    type="date"
                    :value="conf.single"
                    start="2023-08-01"
                    end="2030-09-20"
                    @change="change"
                />
                <text>Popup</text>
            </div>
        </uni-popup>
    </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
const popup = ref({} as any)

const conf = reactive({
    single: '2023-08-29'
})
const open = () => {
    popup.value.open()
}
const close = () => {
    popup.value.close()
}

const change = (e: any) => {
    conf.single = e
    console.log('-change事件:', e)
}
</script>
