<template>
    <div :class="[y != null ? 's-line-y' : 's-line']"></div>
</template>

<script lang="ts" setup>
defineProps({
    /**
     * 开启竖
     */
    y: { default: null as any }
})
</script>
<style lang="less" scoped>
.s-line {
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    background-color: #e5e5e5;

    &-y {
        height: 100%;
        width: 1rpx;
        transform: scaleX(0.5);
        background-color: #e5e5e5;
    }
}
</style>
