.s-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24rpx 30rpx;
    font-size: 26rpx;
    color: #999;
    & :nth-child(1) {
        color: #3b4144;
    }
}

.top-card-item {
    width: 180rpx;
    height: 90rpx;

    & :nth-child(1) {
        font-size: 36rpx;
        font-weight: bold;
    }

    & :nth-child(2) {
        font-size: 24rpx;
        margin-top: 10rpx;
    }
}
