.light {
    --s-bg: #fff;

    //sheader
    --s-header-title: #e1251b;
    --s-header-bg: var(--s-bg);

    //stheme
    --s-theme-bg: var(--s-bg);

    //starbar
    --s-tabbar-height: 60px;
    --s-tabbar-bg: var(--s-bg);
}
